.play-video {
  flex-basis: 69%;
}

.play-video video {
  width: 100%;
}

.play-video h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px;
}

.play-video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  color: #5a5a5a;
}

.play-video-info .icons {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}

.play-video-info .icon {
  width: 20px;
  margin-right: 8px;
}

.play-video hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.publisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publisher div {
  flex: 1;
  line-height: 18px;
}

.publisher img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.publisher-info p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.publisher-info span {
  font-size: 14px;
  color: #5a5a5a;
}

.publisher button {
  background: red;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}

.comments-section h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.video-description {
  padding-left: 55px;
  margin: 15px 0;
}

.video-description p {
  font-size: 14px;
  color: #5a5a5a;
  margin-bottom: 5px;
}

.video-description h4 {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 15px;
}

.comments {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.comments img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.comments h3 {
  font-size: 14px;
  margin-bottom: 2px;
}

.comments h3 span {
  font-size: 12px;
  color: #5a5a5a;
  margin-left: 8px;
  font-weight: 500;
}

.comment-actions {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.comment-actions .icon {
  width: 20px;
  border-radius: 0;
  margin-right: 5px;
}

.comment-actions span {
  margin-right: 20px;
  color: #5a5a5a;
}
