.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 100px;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.shortcut-links .icon {
  width: 20px;
  margin-right: 20px;
  color: gray;
}

.side-links {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
  cursor: pointer;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}

.subscribed-list img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  border-radius: 50%;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar p {
  display: none;
}

.small-sidebar .subscribed-list h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

.side-links.active .icon{
  padding-bottom: 2px;
  border-bottom: 3px solid rgb(216, 1, 1);
}


@media (max-width:900px) {
  .sidebar {
    display: none;
  }
}